body
{
width:99%;
margin:auto;
min-width:30px;
max-width:2000px;
}

header
{

  width: 100%;
  max-width: 1980px;
  min-width: 700px;
  background-color: grey;
  height: 150px; 

}


#Navigateur
{

	display: flex;
	text-align: center;

}


.Navi
{

	width: 80%;
	font-size : 1.7em;
  position:relative;
  overflow:hidden;
  text-align: center;

}


.Navi a
{
   
    text-decoration: none; 
    color: white;
    font-weight: bold;

}


.Navi a:hover
{

    color: #1E90FF;
    outline: none;



}


#Navigateur .Navi
{

    margin-left: auto;
    margin-right: auto;
    display:block;
    height: 50%;
    margin-top: 4%;

}


.titre
{

	text-align: center;

}


.logo
{

	float: left;

}



.sommaire
{
  border : solid;
  width: 50%;
  border-radius: 10px;
  border-color: black;
  margin: auto;
  margin-top: 15px;
  font-size: 1.8em;
  background-color: #DCDCDC; 
}



.sommaire a
{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    text-align: center;
}


#Apresentation 
{
  font-size: 1.4em;
}



.par1sortir1
{
  width: 73%;
}


.divsortir1 img 
{
  float : right;
  height: 10em;
  width: 10em;
  margin-right: 10%;
}



.divsortir2
{
  margin-top: 6%;
}
.divsortir2 img
{
  float : right;
  height: 10em;
  width: 10em;
  margin-right: 10%;
}

.sommaireequipe
{
  border : solid;
  width: 20%;
  border-radius: 15px;
  border-color: black;
  margin: auto;
  margin-top: 5%;
  font-size: 1.8em;
  background-color: #DCDCDC; 
}



.sommaireequipe 
{
    text-decoration: none; 
    font-weight: bold;
    color: black;
 
}

.parequipe
{

  margin-top: 5%;

}

.dl a
{
    text-decoration: none; 
    font-weight: bold;
    color: blue;
    text-align: center;
}

.programme1
{
  border-style:solid;
  border-color: transparent;
}

