h1
{
    color: purple;
}

.TitreJournal
{
	color: red;
}

.Center
{
	text-align: center;
}

.Fond
{
	background-color : grey;
}

#Navigateur
{
	border: solid orange;	
	background-color: orange;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.Navi
{
	margin: auto;
	width: 80%;
}
.Navi:hover
{
	opacity: 0;
}